.MoviesBoxContainer {
  display: flex;
  flex-wrap: nowrap;
  color: blue;
}
.MoviesBox {
  border: 2px solid black;
  background-color: #f1f1f1;
  width: 150px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
